<h2>Edit Post</h2>

<form action="<%= post_url%>" method="post" id="post_form">
  <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>" >
  <input type="hidden" name="_method" value="patch">

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <label>URL
    <input type="text" name="post[url]" value="<%= @post.title %>">
  </label>

  <label>Content
    <textarea name="post[content]" form="post_form" value="<%= @post.content %>">Learning Textarea</textarea> 
  </label>

  <input type="submit" value="Submit Post">
</form>